body {
    font-family: Britannic Bold, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #FFA500;
    color: orange;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
